* {
    /* 200, 300, 700 */
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden !important;
}

.main {
  text-align: center;
}


.header {
  background-color: #3b00c4ec;
  color: white;

  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
    overflow-y: hidden !important;
    font-weight: 700;
}

/* Nominate Jumbotron */
.nominated-jumbo {
    background-color: #3b00c4ec !important;
}

.nominate-jumbo {
    background-color: #F2F2F2 !important;
}

/* Buttons */
.nominate-btn {
    background-color: #3b00c4ec!important;
    border-radius: 50px !important;
    color: white !important;
    border-width: 0px !important;
}
.nominate-btn:hover {
    background-color: white !important;
    color: #3b00c4ec !important;
}
.de-nominate-btn:hover {
    background-color: #3b00c4ec!important;
    color:white !important;
}
.de-nominate-btn {
    background-color: white !important;
    border-radius: 50px !important;
    color: #3b00c4ec !important;
    border-width: 0px !important;
}

.view-movie-details-btn {
    background-color: transparent !important;
    color: white !important;
    border-width: 0px !important;
}
/* Col re-alignment */
.col-md-6 {
    text-align: left !important;
}

@media(max-width: 768px) {
    .col-md-6 {
        text-align: center !important;
    }
}